/* _content/DriveSec/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@media (min-width: 992px) {
    .navbar[b-ntefi2ab38],
    .navbar-collapse[b-ntefi2ab38] {
        flex-direction: column;
        position: fixed;
    }

    .navbar-expand-lg .navbar-nav[b-ntefi2ab38] {
        flex-direction: column;
    }

    .navbar[b-ntefi2ab38] {
        width: 300px;
        height: 100vh;
        align-items: flex-start;
    }

    form input[b-ntefi2ab38] {
        margin-bottom: 0.7em;
    }
}

.bg-header[b-ntefi2ab38] {
    background-color: #000000;
    height: 90px;
    position: sticky;
    top: 0px
}

.razdelitel[b-ntefi2ab38] {
    width: 0px;
    height: 90px;
    border: 2px solid #FFFFFF;
    margin-right: 10px;
}

.Name[b-ntefi2ab38] {
    width: 161px;
    height: 90px;
    padding-top: 20px;
    margin-left: 10px;
}

    .Name h1[b-ntefi2ab38] {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 0;
        color: #FFFFFF;
    }

    .Name p[b-ntefi2ab38] {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0;
        color: #FFFFFF;
    }

body[b-ntefi2ab38], .container-fluid[b-ntefi2ab38] {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.upld_btn[b-ntefi2ab38] {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #F21F1F;
    border-radius: 15px;
    font-size: 32px;
    font-weight: 600;
    width: 250px;
    height: 50px;
    padding: 0px;
}

.navigation .nav-item[b-ntefi2ab38] {
    height: 40px;
    font-size: 26px;
    font-weight: 300;
}

.recent_files .nav-item[b-ntefi2ab38] {
    height: 25px;
    font-size: 20px;
    font-weight: 200;
    text-decoration: underline;
}
