@model List<DriveSec.Controllers.DriveSecController.ChosenViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewData["SuccessMessage"] != null)
    {
        <p class="text-success">@ViewData["SuccessMessage"]</p>
    }
    @if (ViewData["SuccessMessage"] != null)
    {
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
    }

    @if (Model != null)
    {
        foreach (var chosen in Model)
        {
            <p>Вот ваш пользователь, милорд: @chosen.login</p>
        }
    }
    <br />
    <p>Сюда, загружать файлы, босс</p>
    <input type="file" name="'files'"/>


</div>